PROJECT_NAME=Forum API
DEBUG=true
APP_ENV=develop
SQLITE_DATABASE_URL=sqlite:///./forum.db
POSTGRES_URL=postgresql+psycopg://forum_user:forum_password@localhost:5432/forum
JWT_ALGORITHM=RS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=1
JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nreplace-with-your-private-key\n-----END PRIVATE KEY-----\n"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nreplace-with-your-public-key\n-----END PUBLIC KEY-----\n"
